.git
.gitignore
vendor
node_modules
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.local
.env.production
.env.development
.env.test
Dockerfile
docker-compose.yml
compose.yml
